:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #36454f;
}

li {
  font-size: 1.25rem;
  cursor: pointer;
}

li a {
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

li a:hover {
  color: white;
  background-color: #36454f;
}

li a:hover > p {
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

svg {
  cursor: pointer;
}
